apiVersion: apps/v1
kind: Deployment
metadata:
  name: loan-postgres
  namespace: libeasy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loan-postgres
  template:
    metadata:
      labels:
        app: loan-postgres
    spec:
      containers:
      - name: postgres
        image: postgres:17
        envFrom:
        - configMapRef:
            name: loan-postgres-config
        - secretRef:
            name: loan-postgres-secret
        ports:
        - containerPort: 5432
          name: postgres
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
          subPath: postgres
        readinessProbe:
          exec:
            command:
            - pg_isready
            - -U
            - postgres
            - -d
            - loan_db
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          exec:
            command:
            - pg_isready
            - -U
            - postgres
            - -d
            - loan_db
          initialDelaySeconds: 30
          periodSeconds: 10
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: loan-postgres-pvc

